n8n-workflows/workflows/01-lead-magnet-creation.json
{
  "name": "01 - Lead Magnet Creation",
  "nodes": [
    {
      "parameters": {
        "path": "lead-magnet",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "1e8f2d3a-5c7b-4d8e-9f0a-1b2c3d4e5f6a",
      "name": "Webhook - Lead Magnet Request",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "create",
        "chatId": "123",
        "text": "=const OpenAI = require('@openai/sdk');\nreturn JSON.stringify({\n  \"title\": \"$json.title\",\n  \"topic\": \"$json.topic\",\n  \"niche\": \"$json.niche\",\n  \"type\": \"$json.type\",\n  \"user_id\": \"$json.user_id\"\n});"
      },
      "id": "5f7e8d9c-0a1b-2c3d-4e5f-6a7b8c9d0e1f",
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "resource": "provider",
        "provider": "openAi",
        "operation": "message",
        "model": "gpt-4",
        "prompt": "You are an expert lead magnet creator. Create a comprehensive lead magnet based on these details:\n\nTitle: {{$node[\"Webhook - Lead Magnet Request\"].json.title}}\nTopic: {{$node[\"Webhook - Lead Magnet Request\"].json.topic}}\nNiche: {{$node[\"Webhook - Lead Magnet Request\"].json.niche}}\nType: {{$node[\"Webhook - Lead Magnet Request\"].json.type}}\n\nRespond with JSON format:\n{\n  \"title\": \"...\",\n  \"chapters\": [\n    {\"name\": \"Chapter 1\", \"content\": \"...\"},\n    {\"name\": \"Chapter 2\", \"content\": \"...\"}\n  ],\n  \"intro\": \"Engaging introduction\",\n  \"cta\": \"Clear call-to-action\",\n  \"description\": \"Meta description\"\n}",
        "temperature": 0.7,
        "maxTokens": 2000,
        "options": {}
      },
      "id": "7a8b9c0d-1e2f-3a4b-5c6d-7e8f9a0b1c2d",
      "name": "Call OpenAI API",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        750,
        300
      ]
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": "public",
        "table": "lead_magnets",
        "columns": "id,user_id,title,topic,niche,type,content,status,created_at",
        "data": "id={{$uuid()}}\nuser_id={{$node[\"Webhook - Lead Magnet Request\"].json.user_id}}\ntitle={{$node[\"Webhook - Lead Magnet Request\"].json.title}}\ntopic={{$node[\"Webhook - Lead Magnet Request\"].json.topic}}\nniche={{$node[\"Webhook - Lead Magnet Request\"].json.niche}}\ntype={{$node[\"Webhook - Lead Magnet Request\"].json.type}}\ncontent={{$node[\"Call OpenAI API\"].json.response}}\nstatus=generating\ncreated_at={{new Date().toISOString()}}",
        "options": {}
      },
      "id": "8c9d0e1f-2a3b-4c5d-6e7f-8a9b0c1d2e3f",
      "name": "Store in Supabase",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        1000,
        300
      ]
    },
    {
      "parameters": {
        "action": "trigger",
        "workflowId": "pdf-generation",
        "waitForCompletion": false,
        "passInputData": true,
        "options": {}
      },
      "id": "9d0e1f2a-3b4c-5d6e-7f8a-9b0c1d2e3f4a",
      "name": "Trigger PDF Generation",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1250,
        300
      ]
    },
    {
      "parameters": {
        "responseCode": 200,
        "responseData": "={\n  \"success\": true,\n  \"lead_magnet\": {\n    \"id\": \"$node[\\\"Store in Supabase\\\"].json.id\",\n    \"title\": \"$node[\\\"Webhook - Lead Magnet Request\\\"].json.title\",\n    \"content\": $node[\\\"Call OpenAI API\\\"].json.response\n  },\n  \"message\": \"Lead magnet created successfully. PDF generation in progress.\"\n}"
      },
      "id": "1b2c3d4e-5f6a-7b8c-9d0e-1f2a3b4c5d6e",
      "name": "Return Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1500,
        150
      ]
    },
    {
      "parameters": {
        "sendTo": "admin@example.com",
        "subject": "Lead Magnet Creation Failed",
        "html": true,
        "htmlContent": "<h2>Lead Magnet Creation Error</h2>\n<p><strong>Error:</strong> {{$node[\\\"Call OpenAI API\\\"].json.error}}</p>\n<p><strong>User ID:</strong> {{$node[\\\"Webhook - Lead Magnet Request\\\"].json.user_id}}</p>\n<p><strong>Details:</strong></p>\n<pre>{{JSON.stringify($json, null, 2)}}</pre>",
        "options": {}
      },
      "id": "2c3d4e5f-6a7b-8c9d-0e1f-2a3b4c5d6e7f",
      "name": "Error - Send Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 1,
      "position": [
        1500,
        450
      ]
    },
    {
      "parameters": {
        "responseCode": 500,
        "responseData": "={\n  \"success\": false,\n  \"error\": \"Failed to generate lead magnet content\",\n  \"details\": \"$node[\\\"Call OpenAI API\\\"].json.error\"\n}"
      },
      "id": "3d4e5f6a-7b8c-9d0e-1f2a-3b4c5d6e7f8a",
      "name": "Return Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1500,
        550
      ]
    }
  ],
  "connections": {
    "Webhook - Lead Magnet Request": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Call OpenAI API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call OpenAI API": {
      "main": [
        [
          {
            "node": "Store in Supabase",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error - Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store in Supabase": {
      "main": [
        [
          {
            "node": "Trigger PDF Generation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger PDF Generation": {
      "main": [
        [
          {
            "node": "Return Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error - Send Email": {
      "main": [
        [
          {
            "node": "Return Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "executionTimeout": 35,
    "maxExecutionTime": 35,
    "saveManualExecutions": true
  }
}
